* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #c1d0b5;
}

.container {
  margin: 100px auto;
  width: 500px;
  border-radius: 20px;
  background-color: #f99b7d;
}

.header {
  height: 50px;
  padding: 15px;
  text-align: center;
  font-family: 'Alice';
  color: white;
  letter-spacing: 0.9rem;
  font-weight: 700;
  font-size: 25px;
  /* background-color: #e76161; */
}

ul {
  height: 600px;
  margin: 0;
  padding: 0;
}

.item__row {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-family: 'Raleway';
  font-weight: 500;
}

footer {
  /* background-color: #b04759; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  height: 40px;
  outline: none;
  font-size: 1.4rem;
}

.footer__button {
  border-style: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}
